/* ===================================== Css for page ====================================*/
/* ===================================== Background ====================================*/
body {
  background: url(https://i.postimg.cc/mrc5bK5W/main.jpg);
 background-repeat: no-repeat;
 background-size: cover;
  padding: 30px;
  margin: auto;
}

/* ===================================== Header ====================================*/


/* Style of the header */
.header {
  background-image: linear-gradient(to bottom right, #999966, #e0e0d1);
  text-align: center;
  width: 100%;
  padding: 20px;
  margin: auto;
  border-style: groove;
  border-width: 8px;
}

/* ===================================== Navigation bar ====================================*/

.Navigationbar {
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 3px;
}

.navigationbar_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a6a6a6;
}

.navigationbar_li {
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.buttonhome {
  background-color: #00664d;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.buttonmenu {
  background-color: #a6a6a6;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.buttonmenu:hover:not(.active){
  background-color: #111;
}

.active {
  background-color: #111;
}

.Displaymap {
  border-style: solid;
  border-width: 3px;
}

/* ===================================== Footer ====================================*/

/* Style of the footer */
.footer {
  background-color: #595959;
  opacity: 0.7;
  text-align: left;
  color: white;
  font-size: 10px;
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.refrencess2{
  position: relative;
  bottom: 30px;
  right:-1500px;
  }

.ol-mouse-position {
  right: 42px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  text-align: center;
  padding: 2.5px;
  background: rgba(0, 60, 136, 0.5);
  background-clip: padding-box;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}

.ol-overviewmap {
  left: 8px;
  bottom: 34px;
}
.popover {
 width: 225px;
height: 130px;
overflow: auto;
}

iframe {
border: 0px;
height: 110px;
width: 90vw;
}